<!DOCTYPE html>

<!-- Définition de la langue de la page -->
<html lang="fr">

    <!-- En-tête -->
    <head>
        <link href="template/style.css" rel="stylesheet" type="text/css">


        <!-- Définition de l'encodage -->
        <meta charset="UTF-8">

        <!-- Nom de l'onglet de la page -->
        <title >Ascii-Art-Web</title>
    </head>

    <body id="body" background="https://i.ebayimg.com/images/g/LBYAAOSwCg1iikW6/s-l1600.png">

        <style>
            #body {
                background-size: 100%;
            }
            #img {
                opacity : 0.9;
            }
        </style>

        <center>
            <br>
        <!-- Titre affiché-->
        <h1 id="titre">ASCII-ART-WEB</h1>
        <br>

        <!-- Image -->
        <img id="img" src="https://freefrontend.com/assets/img/500-error-page-html-templates/HTML-500-Internal-Error.png" width="50%">
        <br><br>

        <font size="25%">
            <a id="gobutton" href="http://localhost:8080">Retour à l'accueil </a>
        </font>
        <br>
        </center>   
        <audio id="audio" autoplay="true">
            <source src="/template/erro.mp3">
        </audio>
    </body>
</html>