<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/static/login.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'><!--Permet d'importer des emotes a mettre sur les barres de recherche ou autre-->
    <title>Login</title>
</head>
<body>
<!--------------------------------------------------------------------->
<!-------------------------- BANDEAU EN TETE -------------------------->
<!--------------------------------------------------------------------->

<div class="bandeau">
    <a href="/" id="bandeauGauche">
        <div>
            CouiiERRE Burgond
        </div>
    </a>
    <div class="bandeauDroite">
        <a href="/Register">
            <button class="buttonconnexion">
                S'enregistrer
            </button>
        </a>
    </div>
</div>
<div class="sousBandeau"></div>

<!--------------------------------------------------------------------->
<!------------------------- CONTENU DE LA PAGE ------------------------>
<!--------------------------------------------------------------------->
    <div class="body">

        {{ if .UserData.Msgerr }}
            <div class="error">
                {{ .UserData.Msgerr }}
            </div>
        {{ end }}

        <div class="box">
            
            <div class="container">
                <header id="citation">"Faut pas respirer la compote, ça fais tousser"</header>
                <div class="top-header">
                    <header>Formulaire de connexion</header>
                    <br><br>
                </div>

                <form method="POST" class="input-field">
                    <div id="divinput">
                        <input type="email" size="30" class="input" placeholder="Adresse e-mail" name="mail" required>
                        <i class="bx bx-user"></i>

                        <input type="password" class="input" placeholder="Mot de passe" name="pass" required>
                        <i class="bx bx-lock-alt"></i>

                        <input type="submit" class="submit" value="Se connecter">
                    </div>
                </form>
                    <div class="Fpassword">
                        <label>
                            <a onclick="window.open('/ForgetPassword', '_blank', 'location=yes,height=800,width=800,scrollbars=yes,status=yes');">
                                Mot de passe oublié ?
                            </a>
                        </label>
                    </div>
            </div>

        </div>

    </div>
    
    <div class="group">@copyright, site créé par un super bon groupe de la mort qui tue (Arthour, t'as une bonne vue :)</div>
</body>
</html>